.welcome-container {
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  max-width: 1500px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}