.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100px;
  border-radius: 3px;
}

.right-bottom-button {  
  cursor: pointer;
  position: absolute;
  margin: 0em;
  bottom: 0.78575em;
  right: 0.5em;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.left-top-button {  
  cursor: pointer;
  position: absolute;
  margin: 0em;
  top: 0.78575em;
  left: 0.5em;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.editIcon {
  float: right;
  color: #4D7198;
}

.ui.modal.custom > .close {
  top: 0.5rem;
  right: 0.5rem;
  color: #767676; 
}

.ui.small.modal {
  transform: translateY(-50%);
}

.smallwrap {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 10px;
}

.wrap {
  padding-left: 2%;
  padding-right: 2%;
}

.form-header {
  background-color: #F8FFFF !important;
  color: #276F86 !important;
}

.right-top-button {  
  cursor: pointer;
  position: absolute;
  margin: 0em;
  top: 0.78575em;
  right: 0.5em;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.cleanTable {
  background: transparent !important;
  border: none !important;
}

.helpIcon {
  position: absolute;
  top: 5px;
  right: 10px;
}

.resTable {
  overflow-x: auto;
}